

<div class="contenant">
    <form *ngIf="isConnected" [formGroup]="formUpdate" (ngSubmit)="Update()">
        <input type="hidden" formControlName="id">
        <br><input formControlName="firstName"  type="text" nbInput shape="semi-round">
        <br><input formControlName="lastName"   type="text" nbInput shape="semi-round">
        <br><input formControlName="email"      type="text" nbInput shape="semi-round">
        <br><input formControlName="birthDate"  type="date"  nbInput shape="semi-round" >
        <br><input formControlName="password"   type="password" nbInput shape="semi-round" >
        <button nbButton>Valider</button>
    </form>
</div>
