



<nb-card >
<nb-card-body>
<form [formGroup]="formMovie" (ngSubmit)="submitForm()">
    <p>Titre :</p>
    <p><input nbInput type="text" formControlName="title"></p>
    <p>Description : </p>
    <p><input nbInput type="text" formControlName="description" ></p>
    <p>Année de sortie</p>
    <p><input nbInput type="number" formControlName="releaseYear"></p>
    <p>Realisateur :</p>
    <nb-select formControlName="realisatorID" placeholder="Faite un choix dans la liste" >
        <nb-option-group *ngFor="let person of Allpersonne" >
            <nb-option  [value]="person.id">{{person.lastName}} {{person.firstName}}</nb-option>
        </nb-option-group>   
    </nb-select>
    <p>Scénariste</p>
    <nb-select formControlName="scenaristID" >
        <nb-option-group *ngFor="let person of Allpersonne">
            <nb-option  [value]="person.id">{{person.lastName}} {{person.firstName}}</nb-option>
        </nb-option-group>   
    </nb-select>
    <div formArrayName="casting">
        <p><button type="button" nbButton (click)="addActor()">Ajouter un acteur</button></p>
        <div *ngFor="let item of getRole().controls; let i = index;" [formGroupName]="i" >
            Acteur nr {{i + 1}} <br>
        <p><nb-select formControlName="actor" >
            <nb-option-group *ngFor="let person of Allpersonne">
                <nb-option  [value]="person.id">{{person.lastName}} {{person.firstName}}</nb-option>
            </nb-option-group>   
        </nb-select>
    </p>
        <p> Rôle de acteur nr <br><input formControlName="role" nbInput type="text"></p>
        
    </div> 
    
    <p><button nbButton>Enregistrer</button></p>
    </div>
</form>

</nb-card-body> 

</nb-card>

    