<h2>Liste des utilisateurs</h2>
 
     <div class="listUser">
        <nb-accordion *ngFor="let user of listUsers">
            <nb-accordion-item>
             <nb-accordion-item-header>{{user.firstName}} {{user.lastName}}</nb-accordion-item-header>
             <nb-accordion-item-body>
                <p>Email : {{user.email}} </p>
                <p>Date de naissance : {{user.birthDate | date}}</p>
                <p>Administrateur : <span *ngIf="user.isAdmin">Oui</span><span *ngIf="!user.isAdmin">Non</span></p>
                <p><a routerLink="update/{{user.id}}">Modifier</a></p>
             </nb-accordion-item-body>
            </nb-accordion-item>
           </nb-accordion>
        </div>
        <button  nbButton (click)="register()" >Ajouter un utilisateur</button>