<div class="connexion">
    <div class="titre"><h2 >Ciné Tech</h2></div>
<form *ngIf="!isConnected" [formGroup]="connectFormGroup" (ngSubmit)="login()">
    
        <div>
        <input nbInput type="email" formControlName="email" >&nbsp;

        <input  type="password" formControlName="password" nbInput >
&nbsp;
    <button nbButton [disabled]="connectFormGroup.invalid">Connexion</button></div>
</form>

<p *ngIf="isConnected">
    
<button nbButton (click)="Logout()">Déconnexion</button> &nbsp;

Bonjour {{currentUser.firstName}} <a routerLink="user/update/{{currentUser.id}}">Profil</a></p></div>