<div class="contenant">

<form [formGroup]="formRegister" (ngSubmit)="Insert()">
    Enregistrement<br>
                            <br><input formControlName="firstName" placeholder="Prénom"  type="text" nbInput shape="semi-round">
                            <br><input formControlName="lastName" placeholder="Nom"  type="text" nbInput shape="semi-round">
                            <br><input formControlName="email" placeholder="Email"     type="text" nbInput shape="semi-round">
                            <br><input formControlName="birthDate"  title="Date de naissance"  type="date"  nbInput shape="semi-round" >
                            <br><input formControlName="password" placeholder="Mot de passe"   type="password" nbInput shape="semi-round" >
    <button nbButton>Envoyer</button>

</form>
</div>